<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <script src="https://kit.fontawesome.com/465fdb50d8.js" crossorigin="anonymous"></script>

    <title>Project Leaf</title>
</head>

<body>
    <div class="container">
        <h1>You are not authorized to view this page</h1>

        <a href="/"><button class="btn btn-primary">Back to Dashboard</button></a>
        <a href="/login"><button class="btn btn-success">Login</button></a>
    </div>
</body>